/*
* @Author: 17334
* @Date:   2018-12-16 15:15:04
* @Last Modified by:   17334
* @Last Modified time: 2019-01-05 12:50:58
*/
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.nav{
	width: 100%;
	margin:0 auto;   
	padding:0 ;
    text-align:center;
}
.top{
	width:100%;
	height: 130px;
	margin:0 auto;
	background-color: white;
	position: relative;
	z-index: 99;   
}
.span1{
	font-size: 15px;
	float: left;
	color: #999;
}
.top1{
	margin:0 auto;  
	padding:0 ;
	width:1180px;
	height: 20px;
	background-color: white;
	text-align:center;
}
.topright{
	float: right;
	width: 740px;
	height: 20px;
	background-color: white;
}
.topqq{
	width: 19px;
	height: 19px;
	background-color: yellow;
	float: left;
}
.topwechat{
	margin-left: 10px;
	width: 19px;
	height: 19px;
	background-color: green;
	float: left;
}
.topweibo{
	margin-left: 10px;
	width: 19px;
	height: 19px;
	background-color: green;
	float: left;
}
.topa{
	margin-left:15px;
	color: #999;
	text-decoration: none;
	float: left;
	font-size: 13px;
}
.topmassage{
	margin-left: 10px;
	padding-left: 20px;
	float: left;
	color: #999;
	text-decoration: none;
	font-size: 13px;
}
.topdingdan{
	margin-left: 10px;
	padding-left: 20px;
	float: left;
	color: #999;
	text-decoration: none;
	font-size: 13px;
}
.top2{
	padding:0 ;
	margin: 0 auto;
	width: 1180px;
	height: 110px;
	background-color:white;
	text-align: center;

}
.top21{
	width: 142px;
	height: 62px;
	padding-top:20px;
	margin-left: 0px; 
	position: absolute;
	float: left;
}
.top22{
	padding-top: 30px;
	padding-left: 200px;
	float: left;
	width: 590px;
	height: 75px;
}

.b1{
	border-color: #fe6c00;
    width: 500px;
    height: 34px;
    border-style: solid;
    border-width: 3px;
    color: #999;
    padding-left: -400px;
}
.b2{
	background-color: #fe6c00;
	width: 83px;
	height: 40px;
	margin-left: -5px;
	border-width: 0px;
	color: white;
}

.top23{
	width: 85px;
    height: 39px;
    border: 1px solid #e6e5e2;
    float: left;
    margin-left: 80px;
    margin-top: 30px;
}
.top23tu{
	width: 19px;
	height: 19px;
	margin-top: 6px;
	margin-left: 32px;
	margin-bottom: -5px;
	float: left;
}
.top23zi{
	color: #999;
	font-size: 12px;
	text-decoration: none;
	white-space:nowrap;
	margin-left: 1px;
}
.top24{
	width: 85px;
    height: 39px;
    border: 1px solid #e6e5e2;
    float: left;
    margin-top: 30px;
}
.top25{
	width: 85px;
    height: 39px;
    border: 1px solid #e6e5e2;
    float: left;
    margin-top: 30px;
    background-color: #fe6c00;
}
.top23tu2{
	width: 19px;
	height: 19px;
	margin-left: 10px;
	margin-top: 13px;
	float: left;
}
.top23zi2{
	padding-top: 12px;
	font-size: 12px;
	color: white;
	text-decoration: none;
	position: absolute;
	white-space:nowrap;
	margin-left: -25px;
}
.topzi1{
	text-decoration: none;
	font-size: 12px;
	color: red;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	float: left;

}
.topzi2{
	text-decoration: none;
	font-size: 12px;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	float: left;
}
.topzi3{
	text-decoration: none;
	font-size: 12px;
	color: #999;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	float: left;
}
.shuxian{
	width: 5px;
    height: 15px;
    margin-top: 5px;
    float: left;
}
.titlebox{
	width: 100%;
	height: 40px;
	background-color: white;
}
.title{
	margin:0 auto;  
	padding:0 ;
	width:1180px;
	height: 40px;
	text-align: center;
}
.title1{
	height: 40px;
	width: 170px;
	background-color: #fe6c00;
	float: left;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 18px;
	/* position: absolute; */
}
.title2{
	height: 40px;
	width: 100px;
	background-color: white;
	float: left;
	text-align: center;
	line-height: 40px;
	color: black;
	font-size: 16px;
	/* position: absolute; */
}
.bodycolor{
	/* margin-top: -100px; */
	width:100%;
	height: 730px;
	background-color: #f8f7f6;
	text-align:center;
}
.body{
	margin:0 auto;   
	padding:0 ;
	width:1180px;
	height: 730px;
	background-color: #f8f7f6;
	text-align:center;
}
.shangpin{
	height: 422px;
	width: 170px;
	background-color: red;
	margin-left: 85px;
	float: left;
	margin:0 auto;   
}
.shangpin1{
	height: 422px;
	width: 24px;
	background-color: #4c4c4a;
	float: left;
   
}
.zi1{
	 word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
	margin-top: 24px;
	margin-left: 0px;
	color:#fe6c00;
}
.shangpin11{	
	height: 200px;
	width: 24px;
	float: left;  
}
.shangpin2{	
	height: 422px;
	width: 146px;
	background-color:white;
	float: left;
   
}
.zi2{
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 15px;
	margin-left: 6px;
}
.box{
	width: 800px;
	height: 360px;
	border: 1px solid #fe6c00;
	/* margin: 100px auto; */
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background:#fe6c00;
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav1{
	position: absolute;
	left: 200px;
	bottom: 20px;
}
.nav1>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav1 .active{
	background: #ff4d4b;
}

.body2{
	height: 318px;
	width: 210px;
	margin-top: 0px;
	margin-left: 970px;
	background-color: white;
	overflow: hidden;
}
.body21{
	margin-top: -362px;
	margin-left: 970px;
	height: 44px;
	width: 210px;
	background-color: white;
}
.body21img1{
	position: absolute;
	margin-top: 15px;
	margin-left: -80px;
}
.body21zi{
	position: absolute;
	margin-top: 12px;
	margin-left: -50px;
	color: #fe6c00;
}
.body21img2{
	position: absolute;
	margin-top: 18px;
	margin-left: 70px;
}
.body3{
	width: 170px;
	height: 126px;
	margin-top: 60px;
	margin-left: -170px;
	float: left;
}
.body31{
	width: 170px;
	height: 42px;
	background-color: white;
	float: left;
}
.body31zi{
	margin-top: 10px;
	margin-left: -45px; 
	position: absolute;
	font-size: 13px;
	color: #855d38;
}
.body32{
	margin-top: 10px;
	margin-left: -80px;
	position: absolute;
}
.body4{
	width: 800px;
	height: 183px;
	border-top: 1px solid #fe6c00;
	border-right: 1px solid #fe6c00;
	float: left;
}

.body5{
	margin-top: 1px;
	width: 207px;
	height: 186px;
	background-color: white;
	float: left;
}
.body51{
	margin-left:20px;
	margin-top: 10px;
	float: left;
}
.body5zi{
	margin-left:15px;
	margin-top: 10px;
	font-size: 12px;
	float: left;
}
.body52{
	width: 210px;
	height: 20px;
	float: left; 
	margin-top: 10px;
}

.ipt1{
	width: 124px;
	height: 23px;
	float: left;
	margin-left:-10px;
	margin-top: 10px;
	color: #999;
}
.set{
	width: 60px;
	height: 18px;
	float: left;
	margin-left:20px;
	
}
.mon{
	float: left;
	margin-left: 10px;
	color: #fe6c00;
}
.chongzhi{
	width: 170px;
	height: 25px;
	border-radius: 5px;
	background-color: #fe6c00;
	float: left;
	margin-left:20px;
	margin-top: 10px;
	border-width: 0px;
	color: white;
}


.dibu{
	width: 1180px;
	height: 210px;
	margin:0 auto;
	margin-top: 200px;
	border-bottom: solid 1px #ebeae8;  
}
.dibuleft{
	width: 170px;
	height: 190px;
	margin-top: 10px;
	float: left;
}
.logoin{
	width: 170px;
	height: 190px;
	margin-top: -10px;
}
.liebiao{
	width: 800px;
	height: 180px;
	float: left;
}
.w1{
	width: 80px;
	height: 150px;
	float: left;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 32px;
}
.w2{
	width: 80px;
	height: 150px;
	margin-top: 32px;
	margin-left: 50px;
	margin-right: 0px;
	float: left;
}
.w3{
	width: 60px;
	height: 150px;
	margin-top: 32px;
	margin-left: 60px;
	float: left;
}
.li1 a{
	font-size: 15px;
	float: left;
	color: black;
	text-decoration: none;
}
.li2 a{
	font-size: 11px;
	color: #666560;
	margin-top: 10px;
	float: left;
	text-decoration: none;
}
.erweima{
	margin-left: 1030px;
	margin-top: -180px;
	float: left;
}
.weibu{
	width: 100%;
	height: 250px;
	margin: 0 auto;
	background-color: #f8f7f6;
}
.wei1{
	margin-top: 18px;
	margin-left: 100px;
	float: left;
}
.wei2{
	margin-left: 13px;
	margin-top: 18px;
	float: left;
}
.wei1 a{
	text-decoration: none;
	font-size: 11px;
	color: #666560;
}
.wei2 a{
	text-decoration: none;
	font-size: 11px;
	color: #666560;
}
.wei3{
	margin-left: 13px;
	margin-top: 21px;
	font-size: 11px;
	float: left;
}
.weibu1{
	margin-top: 0px;
	margin: 0 auto;
	width: 1180px;
	height: 38px;
}
.weibu2{
	width: 1180px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.weibu2zi{
	list-style: none;
	/* margin-top: 30px; */
	line-height: 25px;
}
.weibu2zi li{
	font-size: 11px;
	color: #9a9791;
	text-align: center;
}
.weibu3{
	width: 1180px;
	height: 100px;
	margin: 0 auto;
}
.weibu31{
	margin-left: 200px;
	margin-top: 40px;
	float: left;
}
.weibu32{
	margin-top: 40px;
	margin-left: 10px;
	float: left;
}




#slide{
	margin-left: 16px;
	list-style: none;
	line-height: 28px;

}
#slide li a{
	color: #fe6c00;
	text-align: center;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
}







.slide1{
	width: 130px;
	height: 105px;
	/* float: left; */
	top: 82px;
	right: -82px;
	position: fixed;
	z-index: 999;
}
.slide1>img{
	/* float: left; */
}
.slide11{
	width: 130px;
	height: 60px;
}
.slide12{
	margin-top: -4px;
	width: 130px;
	height: 45px;
}
.slide2{
	width: 130px;
	height: 140px;
	/* float: left; */
	/* float: right; */
	top: 191px;
	right: -82px;
	position: fixed;
}
/* .slide2>img{
	float: left;
} */
.slide23{
	width: 60px;
	height: 140px;
	float: left;
}
.slide21{
	width: 70px;
	height: 140px;
	float: left;
	background-color: #ff9260;
}
.slide211{
	margin-left: 10px;
	margin-top: 20px;
}
.slide212{
	width: 40px;
	height: 20px;
	/* float: left; */
	text-align: center;
	font-size: 13px;
	color: white;
	background-color: #ff9260;
	border: 1px solid white;
	border-radius: 2px;
	margin-left: 10px;
	margin-top: 20px;
}
.slide3{
	width: 130px;
	height: 150px;
	float: left;
	top: 336px;
	right: -82px;
	position: fixed;
}
.slide3>img{
	float: left;
}
.slide3t1{
	width:130px;
	height:50px;
}
.slide31{
	width: 130px;
	height: 100px;
	float: left;
	background-color: #ff9260;
}
.slide31>img{
	width: 25px
	height: 25px;
	float: left;
	margin-top: 36px;
	margin-left: 12px;
}
.slide4{
	width: 130px;
	height: 140px;
	top: 491px;
	right: -82px;
	position: fixed;
}
.slide4>img{
	width: 130px;
	height: 140px;
	float: left;
}